.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.product-modal-content {
  position: relative;
  background: white;
  max-height: 72vh;
  gap: 10px;
  padding: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.frm-header{
  display: flex;
  span{
    display: flex;
    flex: 1;
    gap: 20px;
    align-items: center;
  }
}
.close_frm{
  background-color: transparent;
  color: #f30303;
}

.frm_title {
  margin-top: 0;
  font-weight: 700;
  font-size: .9rem;
  color: #222222cc;
}

/* Category Button */
.open-modal-btn {
  background-color: #1366D9;
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  padding: 3px 8px;
  font-size: .8rem;
  cursor: pointer;
  align-self: flex-end;
  transition: background-color 0.2s ease-in-out;
}

.open-modal-btn:hover {
  background-color: #0056b3;
}

/* Form Section */
.product_form{
  display: flex;
  justify-content: space-between;
  gap: .8rem;
  overflow-y: auto;
}

.price{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  gap: 10px;
}
.attributes-section{
  display: flex;
  flex-direction: column;
  gap: 0;

}
.detail-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(134, 128, 128, 0.431) ;
}
.lots-section {
  padding: .5rem;
  gap: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: thin;  
  scrollbar-color: #767677a9 #f1f1f1;

}

.variants-list{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.variant-item{
  width: 320px;
  background-color: rgba(255, 255, 255, 0.944);
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
   box-shadow: 0px 0px 6px rgba(26, 24, 24, 0.76); 
   span{
    display: flex;
    flex-direction: column;
    gap: 6px;
   }
}
.list-header{
  padding: 0;
  display: flex;
  justify-content: right;
  padding: 3px;

}
.list-btn{
 padding: 1px;
 color: red;
 cursor: pointer;
}
.variant-attr{
  padding: 0 10px;
}
.variant-p{
  display: flex;
  gap: 5px;
  padding: 0 10px;
  label{
    flex: 1;
    flex-wrap: nowrap;
    border-right: 1px solid lightgray;
    color: #555;
    p{
    color: #0057b3d7;
    }
  }
}
/* Chrome, Edge, Safari */
.lots-section::-webkit-scrollbar {
  width: 8px;      /* scrollbar width */
}

.lots-section::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 4px;
}

.lots-section::-webkit-scrollbar-thumb {
  background-color: #1366D9; /* thumb color */
  border-radius: 4px;
  border: 2px solid #f1f1f1; /* creates space around thumb */
}

.lots-section::-webkit-scrollbar-thumb:hover {
  background-color: #0d4ba0; /* darker on hover */
}
/* Labels */
label {
  display: flex;
  flex-direction: column;
  color: #444;
}
form input[type="date"]::-webkit-calendar-picker-indicator{
  border-radius: 5px;
  cursor: pointer; 
}

form input[type="date"]::-moz-calendar-picker-indicator{
  border-radius: 5px;
  cursor: pointer; 
}
/* Inputs, Select, Textarea */
input[type="text"],
input[type="number"],
input[type="date"],
input[type="checkbox"],
select {
  padding: 1px 4px;
  border: 1.5px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.2s ease-in-out;
  background-color: transparent;
  color: #212529;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #007bff;
}

/* Readonly barcode input styling */
input[readonly] {
  background-color: #e9ecef;
  cursor: not-allowed;
  color: #555;
  border: none;
  padding: 6px 0;
  width: 65%;
}

/* Barcode Buttons container */
.barcode-buttons {
  display: flex;
  gap: 0.7rem;
  margin-top: 0.5rem;
  label{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }
}

.barcode-buttons button {
  background-color: #28a745;
  border: none;
  color: white;
  padding: 2px 10px;
  border-radius: 5px;
  cursor: pointer;
   font-size: .8rem;
  transition: background-color 0.2s ease-in-out;
}

.barcode-buttons button:nth-child(2) {
  background-color: #ffc107;
  color: #212529;
   padding: 4px 9px;
}

.barcode-buttons button:hover {
  opacity: 0.9;
}

/* Barcode Scanner */
.react-qr-barcode-scanner {
  margin-top: 1rem;
  border-radius: 6px;
  overflow: hidden;
  align-self: center;
}

/* Error messages */
select.input-error,
input[type="number"].input-error,
input[type="text"].input-error,
input[type="date"].input-error  {
  border: 1.5px solid red !important;
}

/* Attribute Rows */
.attribute-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.error-msg{
  font-size: .8rem;
  color: red;
}
.attr-btn {
  color: rgb(184, 3, 3);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.attribute-row button:hover {
  background: #a71d2a;
}

.detail-row{
  display: flex;
  gap: 10px;
  div{
    width: 100%;
    display: flex;
  }
  label{
    width: 48%;
  }
}

/* GST checkboxes container */
.dates{
  gap: 1rem;
}

.gst{
  label{
    flex-direction: row;
    gap: 10px;
  }
  
}



.prices{
  display: flex;
  flex-direction: column;
  gap: 10px;
  div{
    width: 100%;
    display: flex;
    gap: 10px;
  }
  label{
    width: 48%;
  }
}

/* Form Buttons */
.form-buttons {
  flex-shrink: 0; 
  align-self: flex-end;
  justify-content: flex-end;
}

.form-buttons button {
  padding: 3px 10px;
  font-size: .7rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.2s ease-in-out;
}

.form-buttons button[type="submit"] {
  background-color: #1366D9;
  color: white;
}

.form-buttons button[type="submit"]:hover {
  background-color: #1e7e34;
}

.form-buttons button[type="button"] {
  background-color: #6c757d;
  color: white;
}

.form-buttons button[type="button"]:hover {
  background-color: #5a6268;
}

select.input-error {
  border: 1.5px solid red !important;
  background-color: green;
  border-radius: 4px;
}

/* Responsive Design */

/* Medium devices (laptops, desktops) */
@media (min-width: 768px) {

}

/* Tablets */
@media (max-width: 767px) and (min-width: 480px) {
  .product-modal-content {
    width: 95%;
    padding: 2rem 2rem;
  }

  .attribute-row {
    flex-direction: column;
    align-items: stretch;
  }

  .attribute-row button {
    align-self: flex-start;
    margin-top: 0.5rem;
  }

  .price {
    order: 3;
    background-color: purple;
    width: 100%;
    padding: 0;
  }

  .lots-section {
    width: 100%;
    max-height: 35vh;
    margin-top: 10px;
    border-top: 1px solid #ccc;
  }

  .form-buttons {
    background-color: #000;
    order: 2;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .variant-toggle-btn {
    background-color: #ffc107;
    color: #000;
    font-weight: 600;
    padding: 4px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

}

/* Phones */
@media (max-width: 479px) {
  .product-modal-content {
    width: 100%;
    height: 100%;
    background-color: #0056b3;
    border-radius: 0;
    padding: 1.5rem 1.5rem;
    max-height: 100vh;
  }
  .product_form{
    background-color: #1e7e34;
    flex-direction: column;
    display: flex;
  flex-direction: column;
  height: 100%;
  }
  .price {
  margin-top: auto; /* Pushes it to the bottom */
  background-color: yellow; /* just for visibility testing, remove later */
  padding: 1rem 0;
}


}
