.staff-dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.close-button {
  background-color: transparent;
  color: rgb(82, 81, 81);
  border: none;
  cursor: pointer;
  align-self: flex-end;
  padding: 10px 10px 0 0;
}
.staff-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 33, 33, 0.678);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
.staff-modal-content {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 0px;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
  }


 .add-user {
    background-color: #1366D9;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.staff-grid-list {
   /* background-color: #1366D9; */
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  overflow-y: auto;
  scrollbar-width: thin; 
  scrollbar-color: #ffffff80 #3c3d3d77; 
  padding: 5px;
}

.staff-grid-list::-webkit-scrollbar {
  width: 8px; 
}

.staff-grid-list::-webkit-scrollbar-track {
  background: #3c3d3d77; 
  border-radius: 4px;
}

.staff-grid-list::-webkit-scrollbar-thumb {
  background-color: #ffffff80; 
  border-radius: 4px;
  transition: background-color 0.3s;
}

.staff-grid-list::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff;
}
