.staff-modal {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  width: 70%;
  max-height: 70vh;
  overflow-y: auto;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2{
    color: #007bff;
  }
}
.cls-btn{
    background-color: transparent;
    border: none;
    color: rgba(255, 0, 0, 0.685);
}