.auth-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  height: 100%;
  
}
.logo-container {
  flex-basis: 50%;
  height: 100;
  display: flex;
  flex-direction: column;
    /* padding: 20px; */
}

.close-btn {
  background: none;
  border: none;
  color: #333;
  font-size: 1rem;
  cursor: pointer;
  margin: 10px 0 0 10px;
  width: 30px;
  img{
    width: 70%;
  }
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;  
  height: 100%;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
  .form-container {
    flex-basis: 50%;
    height: 100%;
    background-color: #ffffff;
    display: flex;

  }
  
  .auth-form {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: #282424;
  }

  
  .form-title {
    font-size: 18px;
    margin-bottom: 0px;
    color: #2B2F38;
    text-align: center;
  
    
  }
  label{
    font-size: 12px;
    color: #2B2F38;

  }
  .welcome-txt{
    color: #776c6c;
    margin-top: 0;
    font-size: 12px;
    text-align: center;
  }

  .auth-input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    color: #776c6c;
  }

  
  .forget-pwd{
    color: #007bff;
    font-size: 12px;
    text-align: right;
    margin-bottom: 10px;
  }

  .auth-input[type="date"]{
    width: 90%;
    padding: 6px;
    margin-top: 5px;
  }
  .auth-input[type="date"]::-webkit-calendar-picker-indicator{
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer; 
  }

  .auth-input[type="date"]::-moz-calendar-picker-indicator{
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer; 
  }
  
  .submit-button {
    padding: 10px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    background-color: #1366D9;
    color: white;
    cursor: pointer;
  }
  .signup-txt{
    color: #776c6c;
    margin-top: 6px;
    font-size: 12px;
    text-align: center;
    button{
      color: #007bff;
      background-color: transparent;
      border: none;
    }
  }
  .submit-button:hover {
    background-color: #0056b3;
  } 
  
  .sign-up-form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: #282424;
       
  }
  .row-input{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    div{
      display: flex;
      flex-direction: column;
      width: 30%;
    }
    .auth-input {
      width: 100%;
    }
  }

  .countries{
      padding: 6px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: transparent;
      color: #776c6c;
  }
 
  .mobile-input{
    width: 100%;
    display: flex;
    gap: 2px;
    }

  .input-list{
    padding: 6px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    color: #776c6c;
    margin-right: 0;
    width: 30%;
    
  }
  .phone-num{
   flex: 1;
   padding: 8px;
   margin-bottom: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   background-color: transparent;
   color: #776c6c;
  }

.position-dropdown {
  width: 30%;         
  padding: 6px;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.logout-modal {
  background-color: #ffffff;
  width: 90%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}

.modal-icon {
  color: #ff4d4f;
  width: 40px;
  height: 40px;
  margin-bottom: 1rem;
}

.modal-text {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.btn {
  padding: 0.6rem 1.2rem;
  border: none;
  /* border-radius: 8px; */
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.yes-btn {
  background-color: #2711eb;
  color: white;
}

.yes-btn:hover {
  background-color: #2711eb77;
}

.no-btn {
  background-color: #e00510;
  color: #c4c2c2;
}

.no-btn:hover {
  background-color: #c0111a9a;
}

@media (max-width: 768px) {
  .logout-modal {
    max-width: 50%;
    padding: 1rem;
  }

  .modal-buttons {
    flex-direction: row;
    gap: 0.75rem;
  }

  .modal-text{
    margin: 0;
    font-size: .9rem;
    padding-bottom: 8px;
  }

  .modal-icon{
    margin: 0;
    width: 30px;
  }
  .btn {
    width: 45%;
    padding: 0.2rem 1rem;
  }
}

@keyframes fadeIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
