.stores {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.store-modal {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  border-radius: 5px;

  h2{
    color: #1d52b3;
    font-size: 1rem;
    text-align: center;
  }
}

  
.add-store {
    background-color: #1366D9;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow:0 0 12px #095ed4f5; 
}
  
.store-list {
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding:  0 15px 15px;
    gap: 15px;
}

.store-list.scrollable::-webkit-scrollbar {
    width: 8px; 
  }
  
.store-card {
  background: white;
  border-radius: 8px;
  box-shadow:0 0 8px rgba(46, 46, 46, 0.815);  
  display: flex;
  cursor: pointer;
  transition: transform 0.2s ease;
}
  
.store-name {
    flex-basis: 200px;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    background-color: #78797a63;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.store-details{
    padding: 10px;
    font-size: .75rem;
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items:flex-start;
}

  
.edit-button {
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: #1366D9;
    font-size: 11px;
    font-weight: 600;
    border: 1px solid #babec7;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}


.store-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.329);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.ctrl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 10px;
  border-bottom: 1px solid gray;
    h2 {
      text-align: center;
      font-size: 14px;
    }
}

.store-form {
  display: flex;
  flex-direction: column;
  gap: 6px;
} 

.business-name{
  display: flex;
  flex-direction: column;
}

.address-group{
  display: flex;
  width: 100%;
  gap: 8px;

}
label {
  font-size: .8rem;
  font-weight: 600;
}

input{
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: .8rem;
  color: #0a0a0a;
}
.button-group {
  display: flex;
  justify-content: end;
  gap: 10px;
  padding-top: 5px;
}
  
.save, .discard {
  background: #d91313;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save{
  background: #1366D9;
}