
.model-ctrl{
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 4px 0;
  height: 5%;
}

.product-detail-modal {
flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

h2 {
    margin: 0;
}
  
.closebtn {
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: #5e5d5dbb;
    padding-left: 10px;
   img{
    width: 14px;
    height: 18px;
   }
}

  
h3 {
    font-size: .9rem;
}
  
h4 {
    margin-bottom: 8px;
}

.product-nav {
  display: flex;
  gap: 5px;
  border-bottom: 2px solid #3e3f4160;
}
  
.product-nav ul {
    display: flex;
    list-style-type: none;
  }
  
.product-nav li {
    font-size: 1rem;
    color: #007bff;
    padding: 1px 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

.contents{
    flex: 1;
    gap: 10px;
    overflow-y: auto;
    display: flex;
  }
  .tab-content h3 {
    font-size: .9rem;
  }
 
.store-product-detail{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    padding: 5px;
  }

.product-detail{
  background-color: #f5f3f3;
  box-shadow: 0px 0px 8px rgba(26, 24, 24, 0.76);
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: .7rem;
  border-radius: 6px;
  padding: 12px;
 span{
  display: flex;
  flex-direction: column;
  p{
    flex: 1;
  }
 }
}
.info-section{
  display: flex;
  gap: 10px;
  flex: 2;
  div{
    flex: 1;
  }
}

.variants-holder{
  box-shadow: 0px 0px 8px rgba(26, 24, 24, 0.76);
  flex: 1;
  border-radius: 6px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px;
}
.info{ 
  color: #232324d2;
  font-weight: 600;
  font-size: .7rem;
}

.tab-content-right{
  flex: 1;
  background-color: #78d809;
}

.info-right{ 
  flex-basis: 70%;
}

.product-store-sales {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
      padding: 5px;

  
}
.sales-chart{
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px rgba(26, 24, 24, 0.76);
  border-radius: 6px;
  padding: 10px;
  flex: 1;
  overflow: hidden;
}
.product-overview{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.location-listings{
display: flex;
flex-direction: column;
height: 30%;
padding: 10px;
border-radius: 6px;
box-shadow: 0px 0px 8px rgba(26, 24, 24, 0.76);
 h3{
    color: #1570EF;
  }
}

.table-wrapper {
  flex-grow: 1;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #bbb #f0f0f0;
}

.stock-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

.stock-table th,
.stock-table td {
  padding: 4px 0;
  text-align: left;
  border-bottom: 1px solid #aaa5a58a;
}

.location-list{
  color: #2b2c2ce0;
 
}
.stock-value {
  color: #1366D9; 
  
}

.stock-table thead th {
  position: sticky;
  top: 0; 
  background-color: #F0F1F3;
  z-index: 1;
}

.stock-table tr:hover {
  background-color: #f1f1f1;
}

.location {
  width: 80%;
}
.stock-detail {
  width: 20%;
}

/* Scrollbar */
.table-wrapper::-webkit-scrollbar, 
.variants-holder::-webkit-scrollbar {
  width: 8px;
}

.table-wrapper::-webkit-scrollbar-track, 
.variants-holder::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 8px;
}

.table-wrapper::-webkit-scrollbar-thumb,
.variants-holder::-webkit-scrollbar-thumb  {
  background-color: #bbb;
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.table-wrapper::-webkit-scrollbar-thumb:hover,
.variants-holder::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}